# Common and Project specific
Thumb.db
javadoc

# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
# Ignore Play! working directory #
CRGS.iws
db
eclipse
log
logs
precompiled
tmp
test-result
server.pid
/nbproject/
uploads
uploads/interview/
media
publish
*.iml
*.ipr
*.iws



