#{extends 'main.html' /}
#{set title:'Resource List' /}
<title>Resource List</title>
<body>
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <div  class="navbar-brand">
                <div class="pull-left">
                    <a href="landing.html">
                        <img src="assets/img/logo1.png" alt="logo" class="img-responsive"/>
                    </a>
                </div>
<!-- <div class="pull-right">
<small>FOR BETTER SANITATION & HYGIENE</small>
<p style="margin-top: 10px;">AT MY SCHOOL</p>
</div> -->
</div>
<!-- END LOGO -->
<!-- START USER LOGIN DROPDOWN -->
<!-- BEGIN RESPONSIVE MENU TOGGLER -->
<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <img src="assets/img/menu-toggler.png" alt=""/>
</a>

<div class="clearfix"></div>

<!-- BEGIN Login Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-mod-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>LOG-IN</strong></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-1 control-label">&nbsp;</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        User ID/Email
                                    </span>
                                    <input type="email" class="form-control" placeholder="User ID/Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">&nbsp;</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password
                                    </span>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-danger">Sign-In</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="col-md-5">
                                    <a href="sign-up.html">Sign-Up</a> 
                                </div>
                                <div class="col-md-7">
                                    Forgot Password?
                                    <a href="forgot_password.html">Click to Reset</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Login Modal -->



<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu">
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler">
                        </div>
                        <div class="clearfix">
                        </div>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li class="start active ">
                        <a href="dashboard.html">
                            <i class="fa fa-home"></i>
                            <span class="title">
                                Dashboard
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-list-alt"></i>
                            <span class="title">
                                Forms
                            </span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="water.html">Water</a>
                            </li>
                            <li>
                                <a href="sanitation.html">Sanitation</a>
                            </li>
                            <li>
                                <a href="school_environment.html">School Environment</a>
                            </li>
                            <li>
                                <a href="sports_recreation.html">Sports & Recreation</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="title">
                                Reports
                            </span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="water_report.html">Water</a>
                            </li>
                            <li>
                                <a href="sanitation_report.html">Sanitation</a>
                            </li>
                            <li>
                                <a href="school_environment_report.html">School Environment</a>
                            </li>
                            <li>
                                <a href="sports_recreation_report.html">Sports & Recreation</a>
                            </li>
                            <li>
                                <a href="overall_satisfaction_report.html">Overall Satisfaction</a>
                            </li>
                            <li>
                                <a href="submission_status_report.html">Submission Status</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="data_management.html">
                            <i class="fa fa-th-large"></i>
                            <span class="title">
                                Data Management
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="school_list.html">
                            <i class="fa fa-list"></i>
                            <span class="title">
                                School List
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="case_reporting.html">
                            <i class="fa fa-keyboard-o"></i>
                            <span class="title">
                                Case Reporting
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="resource_management.html">
                            <i class="fa fa-picture-o"></i>
                            <span class="title">
                                Resource Management
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="ngo_registration.html">
                            <i class="fa fa-file-o"></i>
                            <span class="title">
                                NGO Registration
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="poll_management.html">
                            <i class="fa fa-square-o"></i>
                            <span class="title">
                                Poll Management
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-user"></i>
                            <span class="title">
                                User Management
                            </span>
                            <span class="arrow "></span>
                        </a>                            
                        <ul class="sub-menu">
                            <li>
                                <a href="user_information.html">User Information</a>
                            </li>
                            <li>
                                <a href="create_user.html">Create User</a>
                            </li>
                            <li>
                                <a href="view_role.html">View Role</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="modal" data-target="#createRoleModal">Create Role</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="access_control.html">
                            <i class="fa fa-key"></i>
                            <span class="title">
                                Access Control
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="page-sidebar-menu">
                    <li class="active ">
                        <a href="landing.html">
                            <i class="fa fa-power-off"></i>
                            <span class="title">
                                Logout
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->


    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <h3 class="page-title">
                            Resource Management<br/>
                            <small>Content List</small>
                        </h3>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-reorder"></i>Resource Management
                                </div>
                            </div>
                            <div class="portlet-body">
                                <!-- BEGIN FORM-->
                                <a href="javascript:;" class="btn btn-danger pull-right" data-toggle="modal" data-target="#ResourceModal">Upload</a>
                                <br/>
                                <br/>
                                <!-- BEGIN Resource Modal -->
                                <div id="ResourceModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header login-mod-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"><strong>UPLOAD A CONTENT</strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Content Title</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Category</label>
                                                            <div class="col-md-9">
                                                                <select class="form-control" name="" id="">
                                                                    <option value=""></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Version</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Update Date</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                                                    <input class="form-control" readonly="" type="text">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Comment(if any)</label>
                                                            <div class="col-md-9">
                                                                <textarea class="form-control" name="" id=""></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Upload File</label>
                                                            <div class="col-md-9">
                                                                <input type="file" class="form-control" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-offset-1 col-md-8">
                                                                <button type="submit" class="btn btn-danger">UPLOAD & SAVE</button>
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Resource Modal -->
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered table-hover" id="sample_2">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Version</th>
                                            <th>Upload Date</th>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>A</td>
                                            <td>Category</td>
                                            <td>1</td>
                                            <td class="center">
                                                12/12/2012
                                            </td>
                                            <td>
                                                <a class="label label-sm label-warning">
                                                    Download
                                                </a>
                                            </td>
                                            <td>
                                                <a class="label label-sm label-warning">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>B</td>
                                            <td>Category</td>
                                            <td>1</td>
                                            <td class="center">
                                                12/12/2012
                                            </td>
                                            <td>
                                                <a class="label label-sm label-warning">
                                                    Download
                                                </a>
                                            </td>
                                            <td>
                                                <a class="label label-sm label-warning">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>C</td>
                                            <td>Category</td>
                                            <td>1</td>
                                            <td class="center">
                                                12/12/2012
                                            </td>
                                            <td>
                                                <a class="label label-sm label-warning">
                                                    Download
                                                </a>
                                            </td>
                                            <td>
                                                <a class="label label-sm label-warning">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        For support, please contact with &nbsp;&nbsp;
        <a href="mailto:myschoolvoice@gmail.com"> myschoolvoice@gmail.com</a>
    </div>
    <div class="pull-right">
        Powered by mPower Social
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN Login Modal -->
<div id="createRoleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-mod-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>CREATE ROLE</strong></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Role Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Role Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-danger">SAVE</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Login Modal -->


<script>
    jQuery(document).ready(function() {
        App.init(); // initlayout and core plugins
        Index.init();
        Index.initCalendar(); // init index page's custom scripts
        Index.initPeityElements();
        Index.initKnowElements();
        Index.initDashboardDaterange();
        Tasks.initDashboardWidget();

        TableManaged.init();
    });
</script>
</body>