#{extends 'main.html' /} 

<title>Data Management</title>
#{set title:"Data Management" /}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>


<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
 <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">



<div class="page-header top">
	<h1>${title}</h1>
</div>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Data Management
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-2">
			<div class="form-group">
			<div id="geoDivision" class="col-md-12 SEARCH" url="@{Ngos.loadGeoDistrict()}" load-data-container-SEARCH="#geoDistrict">
				#{select 'division', value:0, items:geoDivisionList, labelProperty:'name', valueProperty:'id', class:'form-control', id:'division'}
					#{option}Division#{/option}
				#{/select}
			</div>
			</div>
		</div>	<div class="col-md-2">
			<div class="form-group">
				<div id="geoDistrict" class="col-md-12 SEARCH" url="@{Ngos.loadGeoUpazilla()}"  load-data-container-SEARCH="#geoUpazilla">
					#{select 'district', value:0, items:geoDistrictList, labelProperty:'name', valueProperty:'id', class:'form-control', id:'ngo.geoDistrict.id'}
						#{option}District#{/option}
					#{/select}
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<div id="geoUpazilla" class="col-md-12 SEARCH" url="@{Ngos.loadGeoSchool()}"  load-data-container-SEARCH="#geoSchool">
					#{select 'upazilla', value:0, items:geoUpazillaList, labelProperty:'name', valueProperty:'id', class:'form-control', id:'ngo.geoUpazilla.id'}
						#{option}Upazilla#{/option}
					#{/select}
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<div id="geoSchool" class="col-md-12 SEARCH"  url="@{Ngos.loadGeoSchool()}"  load-data-container-SEARCH="#geoUnion">
					#{select 'school', value:0, items:schoolList, labelProperty:'name', valueProperty:'id', class:'form-control', id:'school'}
						#{option}School#{/option}
					#{/select}
				</div>
			</div>	
		</div>
                  
				
		<div class="col-md-2">
			<div class="form-group">
				<div id="role" class="col-md-12 SEARCH" >
					#{select 'form.name', value:0, items:formList, labelProperty:'name', valueProperty:'id', class:'form-control', id:'formId'}
						#{option}Form#{/option}
					#{/select}
				</div>
			</div>	
		</div>
				
				</div>
				<!-- BEGIN FORM-->
				<table class="table table-striped table-bordered table-hover"
					id="sample_2">
					<thead>
						<tr>
							<th>Data ID</th>
							<th>School ID</th>
							<th>School Name</th>
							<th>Address</th>
							<th>Receive Time</th>
							<th>Sender</th>
							<th>From</th>
							<th>Response</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						%{Water}%
						#{list items:waterList, as:'water'}
						<tr class="odd gradeX">
							<td>${water.data.id}</td>
							<td>${water.school?.schoolRegNo}</td>
							<td>${water.school?.name}</td>
							<td>${water.school?.geoUpazilla?.name}</td>
							<td>${water?.date}</td>
							<td>${water.sender?.displayName}</td>
							<td>${water.form?.shortName}</td>
							<td>${water.data?.approvalStatus}</td>
							
							 #{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}
							<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(water.data?.id)}'>Details</a></td>
							<td>
							<a class='btn btn-mini btn-danger delete_data' id = '${water.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>
							<i class='icon-remove icon-white'></i>
							</a>
							</td>
							#{/deadbolt.externalizedRestriction}
						</tr>
						#{/list}
						
						%{Sanitation}%
						#{list items:sanitationList, as:'sanitation'}
						<tr class="odd gradeX">
							<td>${sanitation.data?.id}</td>
							<td>${sanitation.school?.schoolRegNo}</td>
							<td>${sanitation.school?.name}</td>
							<td>${sanitation.school?.geoUpazilla?.name}</td>
							<td>${sanitation?.date}</td>
							<td>${sanitation.sender?.displayName}</td>
							<td>${sanitation.form?.shortName}</td>
							<td>${sanitation.data?.approvalStatus}</td>
							
							 #{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}
							<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(sanitation.data?.id)}'>Details</a></td>
							<td>
							<a class='btn btn-mini btn-danger delete_data' id = '${sanitation.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>
							<i class='icon-remove icon-white'></i>
							</a>
							</td>
							#{/deadbolt.externalizedRestriction}
						</tr>
						#{/list}
						
						%{sports}%
						#{list items:sportsRecreationList, as:'sportsRecreation'}
						<tr class="odd gradeX">
							<td>${sportsRecreation.data?.id}</td>
							<td>${sportsRecreation.school?.schoolRegNo}</td>
							<td>${sportsRecreation.school?.name}</td>
							<td>${sportsRecreation.school?.geoUpazilla?.name}</td>
							<td>${sportsRecreation?.date}</td>
							<td>${sportsRecreation.sender?.displayName}</td>
							<td>${sportsRecreation.form?.shortName}</td>
							<td>${sportsRecreation.data?.approvalStatus}</td>
							#{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}
							<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(sportsRecreation.data?.id)}'>Details</a></td>
							<td>
							<a class='btn btn-mini btn-danger delete_data' id = '${sportsRecreation.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>
							<i class='icon-remove icon-white'></i>
							</a>
							</td>
							#{/deadbolt.externalizedRestriction}
						</tr>
						#{/list}
						
						%{Environment}%
						#{list items:schoolEnvironmentList, as:'schoolEnvironment'}
						<tr class="odd gradeX">
							<td>${schoolEnvironment.data?.id}</td>
							<td>${schoolEnvironment.school?.schoolRegNo}</td>
							<td>${schoolEnvironment.school?.name}</td>
							<td>${schoolEnvironment.school?.geoUpazilla?.name}</td>
							<td>${schoolEnvironment?.date}</td>
							<td>${schoolEnvironment.sender?.displayName}</td>
							<td>${schoolEnvironment.form?.shortName}</td>
							<td>${schoolEnvironment.data?.approvalStatus}</td>
							#{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}
							<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(schoolEnvironment.data?.id)}'>Details</a></td>
							<td>
							<a class='btn btn-mini btn-danger delete_data' id = '${schoolEnvironment.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>
							<i class='icon-remove icon-white'></i>
							</a>
							</td>
							#{/deadbolt.externalizedRestriction}
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</td>
</tbody>
</table>
</div>
</div>
</div>
</div>
<script>

	    $(".delete_data").click(function(){  
			var dataId = $(this).attr("id");
			console.log(${sanitation.data?.id});
	        if(confirm("Are you sure to delete this Data?"))
	        {
	            $.ajax({
	                type: "GET",
	              	url:  "@{DataManagement.delete}",
	                data: {
	                	id: dataId
	                },
	                success: function(data) {
						console.log(data);
	                    if(data == 1){
	                    	$('#delete_msg').html("<h3 style="+"color:green"+">User deleted successfully.</h3>");
	                    	$("#"+dataId).remove(); //row remove when deleted 
	                     	
	                    }
	                    else{
	                    	$('#delete_msg').html("<h3 style="+"color:red"+">User cannot be deleted.</h3>");
	                    }
	                }


	            });
	            
	             $(document).ajaxStop(function(){
         window.location.reload();
       });
	           
	        }
	        
	       
	        return false;
	         
	    });
	    
	     
	    $("document").ready(function(){
	    
	  //  loadData(null,null,null,null, null, null, null);
	    
	   $('#sample_2').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
	
	$(".SEARCH").on("change", function() {
		
		if(typeof $(this).find(":selected").attr("value") == "undefined"){
			return;
		}
		var divisionId = $('#division').find(":selected").attr("value");
		
		var districtId = $('#ngo\\.geoDistrict\\.id').find(":selected").attr("value");
		
		var upazillaId = $('#ngo\\.geoUpazilla\\.id').find(":selected").attr("value");
		
		var schoolId = $('#school').find(":selected").attr("value");
		
		var formId = $('#formId').find(":selected").attr("value");
		
		
		//console.log("divisionId : "+ divisionId + " districtId : " + districtId + " UpazillaId : "+ upazillaId
			//	+ " schoolId : "+ schoolId + " formId : " + formId);
		loadData(divisionId,districtId,upazillaId,schoolId, formId, null, null);
	});
	
	

	function loadData(divisionId,districtId,upazillaId,schoolId, formId, startDate, endDate) {
		
		console.log(formId);
		//var tbl = "<table class="table table-striped table-bordered table-hover" id="userTable">";
		var tbl = "" ;
        var thead =  "<table class='table table-striped table-bordered table-hover' id='userTable'>"+
                                    "<thead>"+
                                        "<tr>"+
                                            "<th>Data ID</th>"+
											"<th>School ID</th>"+
											"<th>School Name</th>"+
											"<th>Address</th>"+
											"<th>Receive Time</th>"+
											"<th>Sender</th>"+
											"<th>From</th>"+
											"<th>Response</th>"+
											"<th>&nbsp;</th>"+
											"<th>&nbsp;</th>"+
                                        "</tr>"+
                                    "</thead>";           
		return $.ajax({
				type: "GET",
              	url:  "/DataManagement/LoadDataReport",
				data : {
					divisionId : divisionId,
					districtId : districtId,
					upazillaId : upazillaId,
					schoolId : schoolId,
					formId : formId,
					startDate : startDate,
					endDate : endDate
				},
				
				success: function(data) {
					var json = JSON.parse(data);
					var dataInfo = data.split(';');
					// console.log(json);
					 var row = "";
		             //var tbl = "";
					 for (var i = 1; i < dataInfo.length; i = i + 8) {
					            var dataid = dataInfo[i];
                                var schoolid = dataInfo[i+1];
                                var schoolname = dataInfo[i+2];
                                var address = dataInfo[i+3];
                                var createdat = dataInfo[i+4];
                                var displayname = dataInfo[i+5];
                                var shortname = dataInfo[i + 6];
                                var status = dataInfo[i + 7];
                                
                               //console.log(dataid); 
                            
                            if(shortname== "WCW"){
                            
                            row = row + "<tr><td>" + dataid + "</td><td>" + schoolid + "</td><td>" + schoolname + "</td><td>" + address + 
                           "</td><td>" + createdat + "</td><td>" + displayname + "</td><td>" + shortname + 
                           "</td><td>" + status + "</td>"+
                           "#{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}"+
						   "<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(water.data?.id)}'>Details</a></td>"+
						   "<td>"+
						   "<a class='btn btn-mini btn-danger delete_data' id = '${water.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>"+
						   "<i class='icon-remove icon-white'></i>"+ 
						   "</a>"+
						   "</td>"+
						   "#{/deadbolt.externalizedRestriction}"+
						   "</td></tr>";
                            
                            }   
                           
                          if(shortname == "WCS")
                          {
                              row = row + "<tr><td>" + dataid + "</td><td>" + schoolid + "</td><td>" + schoolname + "</td><td>" + address + 
                           "</td><td>" + createdat + "</td><td>" + displayname + "</td><td>" + shortname + 
                           "</td><td>" + status + "</td>"+
                           "#{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}"+
						   "<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(sanitation.data?.id)}'>Details</a></td>"+
						   "<td>"+
						   "<a class='btn btn-mini btn-danger delete_data' id = '${sanitation.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>"+
						   "<i class='icon-remove icon-white'></i>"+ 
						   "</a>"+
						   "</td>"+
						   "#{/deadbolt.externalizedRestriction}"+
						   "</td></tr>";
                          }
                          
                            if(shortname == "WCSE")
                          {
                              row = row + "<tr><td>" + dataid + "</td><td>" + schoolid + "</td><td>" + schoolname + "</td><td>" + address + 
                           "</td><td>" + createdat + "</td><td>" + displayname + "</td><td>" + shortname + 
                           "</td><td>" + status + "</td>"+
                           "#{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}"+
						   "<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(schoolEnvironment.data?.id)}'>Details</a></td>"+
						   "<td>"+
						   "<a class='btn btn-mini btn-danger delete_data' id='${schoolEnvironment.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>"+
						   "<i class='icon-remove icon-white'></i>"+ 
						   "</a>"+
						   "</td>"+
						   "#{/deadbolt.externalizedRestriction}"+
						   "</td></tr>";
                          }
                          
                           if(shortname == "WCSR")
                          {
                              row = row + "<tr><td>" + dataid + "</td><td>" + schoolid + "</td><td>" + schoolname + "</td><td>" + address + 
                           "</td><td>" + createdat + "</td><td>" + displayname + "</td><td>" + shortname + 
                           "</td><td>" + status + "</td>"+
                           "#{deadbolt.externalizedRestriction externalRestrictions:['Edit Data']}"+
						   "<td><a class='btn btn-mini' href='@{DataManagement.dataDetails(sportsRecreation.data?.id)}'>Details</a></td>"+
						   "<td>"+
						   "<a class='btn btn-mini btn-danger delete_data' id='${sportsRecreation.data?.id}'><i class='icon-remove icon-white'></i> Delete</a>"+
						   "<i class='icon-remove icon-white'></i>"+ 
						   "</a>"+
						   "</td>"+
						   "#{/deadbolt.externalizedRestriction}"+
						   "</td></tr>";
                          }
                           
                           
                     }
                            tbl =thead+ tbl+"<tbody>" + row + "</tbody>";
                            $("#sample_2").html("");
                            $("#sample_2").html(tbl);   
                            $('#sample_2').DataTable();              
                }
			
			});
	}
	});

  
</script>