#{extends 'main.html' /}

<div class="page-header top">
#{if geoVillage?.id}
    <h1>Edit Village</h1>
#{/if}
#{else}
    <h1>New Village</h1>
#{/else}
</div>

#{form @submitGeoVillage(), class:'form-horizontal filter'}
	#{if geoVillage?.id}
    <input type="hidden" name="geoVillage.id" value="${geoVillage.id}" />
    #{/if}
    <div id="geoDivision" class="geo" url="@{Areas.loadGeoDistrict}" load-data-container="#geoDistrict">
	#{input 'geoDivision.id' , type:'select', items:geoDivisionList, labelProperty:'name' }
		#{option}Any#{/option}
	#{/input} 
	</div>
	<div id="geoDistrict" class="geo" url="@{Areas.loadGeoUpazilla}"  load-data-container="#geoUpazilla">
	#{input 'geoDistrict.id' , type:'select', items:geoDistrictList, labelProperty:'name'} 
		#{option}Any#{/option}
	#{/input}
	</div>
	<div id="geoUpazilla" class="geo" url="@{Areas.loadGeoUnion}"  load-data-container="#geoUnion">
	#{input 'geoUpazilla.id' , type:'select', items:geoUpazillaList, labelProperty:'name' } 
    	#{option}Any#{/option}
	#{/input}
	</div>
	<div id="geoUnion" class="geo" url="@{Areas.loadGeoMauza}"  load-data-container="#geoMauza">
	#{input 'geoUnion.id' , type:'select', items:geoUnionList, labelProperty:'name' } 
    	#{option}Any#{/option}
	#{/input}	
	</div>
	<div id="geoMauza" class="geo">
	#{input 'geoMauza.id' , type:'select', items:geoMauzaList, labelProperty:'name' } 
    	#{option}Any#{/option}
	#{/input}	
	</div>
    #{input 'geoVillage.name' /}
    #{input 'geoVillage.nameBn' /}
	#{input 'geoVillage.code' /}
	#{input 'geoVillage.codeBn' /}
    #{submit /}
#{/form}

#{set 'moreScripts'}
	#{script 'bootstrap-datepicker_latest.js' /}
    #{script 'jquery.mpower.utils.js' /}
	#{script 'jquery-mpower-date.js' /}
	#{script 'mpower-geolocation.js' /}
	
#{/set}
