#{include 'head.html' /}

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="@{Forms.list()}"><img src="/public/images/logo.png" alt="" /></a>
				<p class="slogan ">NCTF Voice - for better sanitation and hygiene at my school</p>
			</div>
			
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="f_align">
			<div class="portlet-body form">
				#{form @submitEditCase(), class:'form-horizontal form-bordered well'} 

				<h3>Edit Case</h3>
				
                                    <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <h3 class="form-section">INFORMER'S INFORMATION</h3>
                                            </div>
                                        </div>
                                    </div>
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Informer Name </label>
                                                    <div class="col-md-8">
                                                        #{input 'caseReport.informerName' /}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Contact No. </label>
                                                    <div class="col-md-8">
                                                        #{input 'caseReport.mobNumber' /}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <h3 class="form-section">CASE DETAILS</h3>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Victim Name </label>
                                                    <div class="col-md-8">
                                                         #{input 'caseReport.victimName' /}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Victim's Approxmiate Age</label>
                                                    <div class="col-md-8">
                                                       #{input 'caseReport.victimAge' /}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Victim's Sex </label>
                                                    <div class="col-md-4">
                                                        
														 #{input 'caseReport.victimSex', type:'select', items:gender, labelProperty:'name' , valueProperty:'id' , id:'gender'/}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <h3 class="form-section">ADDRESS</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
												<label for="selector1" class="col-sm-3 control-label">Division</label>
												<div id="geoDivision" class="col-sm-6 geo" url="@{RegisterSchool.loadGeoDistrict()}" load-data-container="#geoDistrict">
													 #{input 'caseReport.geoDivision.id' , type:'select', items:geoDivisionList, labelProperty:'name', valueProperty:'id' , id:'division'}
														#{option}Any#{/option}
												       #{/input}
												</div>
											</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
												<label for="selector1" class="col-sm-3 control-label">District</label>
												<div id="geoDistrict" class="col-sm-6 geo" url="@{RegisterSchool.loadGeoUpazilla()}"  load-data-container="#geoUpazilla">
													 #{input 'caseReport.geoDistrict.id' , type:'select', items:geoDistrictList,labelProperty:'name', valueProperty:'id' , id:'district'}
													 #{option}Any#{/option}
												     #{/input}
												</div>
											</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
												<label for="selector1" class="col-sm-3 control-label">Upazilla/Thana</label>
												<div id="geoUpazilla" class="col-sm-6 geo" url="@{RegisterSchool.loadGeoUnion()}"  load-data-container="#geoUnion">
													  #{input 'caseReport.geoUpazilla.id' , type:'select', items:geoUpazillaList,labelProperty:'name' , valueProperty:'id' , id:'upazilla'}
													#{option}Any#{/option}
												    #{/input} 
												</div>
											</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
												<label for="selector1" class="col-sm-3 control-label">Union/Ward</label>
												<div id="geoUnion" class="col-sm-6 geo"   >
													#{input 'caseReport.geoUnion.id' , type:'select', items:geoUnionList,labelProperty:'name' } 
													#{option}Any#{/option}
													#{/input}
												</div>
											</div>
                                            </div>
                                        </div>
                                        
                                          <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Case Type </label>
                                                    <div class="col-md-4">
                                                        #{input 'caseReport.caseType' , type:'select', items:caseType, labelProperty:'name' }
														#{option}Any#{/option}
														#{/input}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       
                                        

                                        <!-- <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Address </label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control" name="" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Description of Incident </label>
                                                    <div class="col-md-8">
                                                         #{input 'caseReport.description' /}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Type of Incident </label>
                                                    <div class="col-md-4">
                                                        <select class="form-control" name="" id="">
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Associated School </label>
                                                    <div class="col-md-4">
                                                        #{input 'caseReport.associateSchool.id' , type:'select', items:schoolList, labelProperty:'name' }
														#{option}Any#{/option}
														#{/input}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Current Status </label>
                                                    <div class="col-md-4">
                                                         #{input 'caseReport.currentStatus' , type:'select', items:currentStatus, labelProperty:'name' }
														#{option}Any#{/option}
														#{/input}
                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <button type="submit" class="btn btn-danger">SUBMIT</button>
                                                        <br clear="all" />
                                                        <br clear="all" />
                                                        <button type="button" class="btn btn-danger">CANCEL</button>
                                                    </div>
                                                </div>
                                            </div> -->
                                            
					
							 <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-1 col-md-9">
                                                    <button type="submit" id="btnSubmit" class="btn btn-danger">SAVE CHANGES</button>
                                                    <button type="button" class="col-md-offset-1 btn btn-danger" onclick="cancelEdit()">CANCEL</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
			#{/form}
			
		</div>
	</div>
</div>
</div>


</body>

</html>