#{extends 'main.html' /}
<title> Poll Creation </title>

<style>
*[hidden] { display: none; }
</style>

                    <!-- BEGIN PAGE CONTENT-->
                       
                    <div class="row">
                        <div class="col-md-12">
                            #{form @submit(), class:'form-horizontal'}
                                <div class="col-md-6">
                                    <h3 class="form-section">POLL CREATION PANEL</h3>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Poll Title</label>
                                        <div class="col-md-10">
                                            <input name="poll.title" type="text" class="form-control" id="poll.title" value="${poll.title}" placeholder="Default Input" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">&nbsp;</label>

                                        <div class="col-md-10">
                                            <label for="inputEmail3" class="col-sm-1 control-label">From</label>
                                            <div class="col-md-5">
                                            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                    <input name="poll.startDate" type="text" class="form-control" id="poll.startDate" value="${poll.startDate}" placeholder="Default Input" >
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>

                                            <label for="inputEmail3" class="col-sm-1 control-label">to</label>
                                            <div class="col-md-5">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                     <input name="poll.endDate" type="text" class="form-control" id="poll.endDate" value="${poll.endDate}" placeholder="Default Input" >
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="form-section">QUESTION</h3>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Question Type</label>
                                        <div class="col-md-4">
                                            	#{input 'poll.questionType' , type:'select', items:questionType } 
							                   #{option}Any#{/option}
							                    #{/input}
                                        </div>
                                         
                                        <div class="col-md-4">
                                           
                                           <input name="poll.optionNumber" type="hidden" class="form-control output" id="poll.optionNumber" value="${poll.optionNumber}" placeholder="Default Input" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Options</label>
                                        <div class="col-md-10">
                                            <button type="button" class="btn btn-danger" id="addButton">ADD OPTION</button>
                                        </div>
                                    </div>
                                    
                                   
                                  <div class="form-group">
								  <div class="addField">
								    <label for="inputEmail3" class="col-sm-1 control-label">1</label>
								    <div class="col-md-5">
								      <div class="input-group">
								        <input name="pollQuestionOption.options" type="text" class="form-control" id="pollQuestionOption.options" value="${pollQuestionOption.options}" placeholder="Option">
								         <span class="input-group-btn">
								             <button href="#" class="removeOption">
								              <i class="fa fa-times fa-2x text-danger" style="font-size: 18px" aria-hidden="true"></i>
								             </button>
								        </span>
								      </div>
								    </div>
								  </div>
								</div>
								                                    
                                   

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn btn-danger btn-lg">PUBLISH</button>
                                                    <button type="button" class="btn btn-danger btn-lg">RESET</button>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h3 class="form-section">POLL LIST</h3>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Time Period</th>
                                                <th>Poll</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         #{list items:pollList, as:'pollList'}
                                            <tr id = "${pollList.id}">
                                                <td>${pollList.startDate} - ${pollList.endDate}</td>
                                                <td>${pollList.title}</td>
                                                <td>
                                                    <a href="@{PollManagement.editPoll(pollList?.id)}" class="text-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                                                    <a href="#" class="text-danger"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>

                                                    <a href="${pollList?.id}" class="text-danger"><i class="fa fa-trash delete_poll" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                           #{/list} 
                                        </tbody>
                                    </table>
                                </div>
                            #{submit /}
                            #{/form}
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
            </div>
        </div>
        <!-- END CONTENT -->            
    </div>
    
    <script>
    
    	    
	    $(".delete_poll").click(function(){  
			var pollId = $(this).attr("id");
	        if(confirm("Are you sure to delete this Poll?"))
	        {
	            $.ajax({
	                type: "GET",
	              	url:  "@{PollManagement.deletePoll}",
	                data: {
	                	id: pollId
	                },
	                success: function(data) {
						console.log(data);
	                    if(data == 1){
	                       console.log("delete success");
	                    	$('#delete_msg').html("<h3 style="+"color:green"+">School deleted successfully.</h3>");
	                    	$("#"+pollId).remove(); //row remove when deleted 
	                    	          
	                     	
	                   }
	                    else{
	                    	$('#delete_msg').html("<h3 style="+"color:red"+">User cannot be deleted.</h3>");
	                    }
	                }


	            });
	            
	             $(document).ajaxStop(function(){
         window.location.reload();
       });
	           
	        }
	        
	       
	        return false;
	         
	    });
	    
    
   $(document).ready(function() {
   
   
  $(".output").val(1) ;
  var wrapper = $(".addField"); //Fields wrapper
  var add_button = $("#addButton"); //Add button ID

  var x = 1; //initlal text box count
  $(add_button).click(function(e) { //on add input button click
    e.preventDefault();

    x++;
    $(wrapper).append('<label for="inputEmail3" class="col-sm-1 control-label">' +
      x + '</label>' +
      '<div class="col-md-5">' +
      '<div class="input-group">' +
      '<input name="pollQuestionOption.options" type="text" class="form-control" id="pollQuestionOption.options" value="${pollQuestionOption.options}" placeholder="Option">' +
      '<span class="input-group-btn">' +
      '&nbsp;&nbsp;' +
      '<button href="#" class="removeOption">' +
      '<i class="fa fa-times fa-2x text-danger" style="font-size: 18px" aria-hidden="true"></i>' +
      '</button>' +
      '</span>' +
      '</div>' +
      '</div>');
      
          var currentVal = parseInt($(".output").val());
        if (!isNaN(currentVal)) {
            $(".output").val(currentVal + 1);
            console.log("value+: " + $(".output").val());
            
            }

  });

  $(wrapper).on("click", ".removeOption", function(e) { //user click on remove text
    e.preventDefault();
    $(this).closest('div.col-md-5').prev().remove();
    $(this).closest('div.col-md-5').remove();
 
    x--;
    
    var currentVal = parseInt($(".output").val());
        if (!isNaN(currentVal) && currentVal > 0) {
            $(".output").val(currentVal - 1);
            console.log("value+: " + $(".output").val());
        }
  
  });

});



    </script>