#{extends 'main.html' /}
#{set title:'School Details' /}
<div id="wrapper">
<div id="containt_area">

<title>Poll Details</title>
<div class="page-header">
	<h1>${title}</h1>
</div>

<table class="table table-striped table-details">
    <tbody>
	    <tr>
	        <td>Poll No.</td>
	        <td>${poll.id}</td>
	    </tr>
	    <tr>
	        <td>Poll Title.</td>
	        <td>${poll.title}</td>
	    </tr>
	    <tr>
	        <td>From Date</td>
	        <td>${poll.startDate}</td>
	    </tr>
	    
	    <tr>
	        <td>To Date </td>
	        <td>${poll.endDate}</td>
	    </tr>
	    
	    <tr>
	        <td>Question Type</td>
	        <td>${poll.questionType}</td>
	    </tr>
	   <tr>
	     <td>Options: </td>
	     #{list items: optionitem, as:'optionitem'}
	     <td width="100">${optionitem}<td>
	     #{/list}
	   </tr>
	  
    </tbody>
</table>

	
   </div>
   </div>