<!DOCTYPE html>
<html lang="en">
<head>

<title>&{'application.name'} &raquo; #{get 'title' /}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

 
    <!-- For styles -->
	#{stylesheet 'bootstrap.min.css' /}
	#{stylesheet 'bootstrap-responsive.min.css' /}
	#{stylesheet 'bootstrap-responsive.css' /}
	#{stylesheet 'bootstrap-datetimepicker.css' /}
	#{stylesheet 'bootstrap-datetimepicker.min.css' /}
	#{stylesheet 'clndr.css' /}
	#{stylesheet 'custom.css' /}
	#{stylesheet 'datepicker.css' /}
	#{stylesheet 'flexslider.css' /}
	#{stylesheet 'font-awesome.css'/}
	#{stylesheet 'font-awesome.min.css'/}
	#{stylesheet 'jqvmap.css'/}
	#{stylesheet 'lines.css'/}
	
	
	#{script 'jquery.min.js' /}    
    #{script 'metisMenu.min.js' /}
    
    #{script 'custom.js' /}   
    #{script 'app.js' /}   
    #{script 'form-components.js' /}   
    #{script 'bootstrap.min.js' /}  

    #{stylesheet 'style.css' /}
    
   
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	
			#{script 'bootstrap-datepicker_latest.js' /}
	    	#{script 'jquery.mpower.utils.js' /}
			#{script 'jquery-mpower-date.js' /}
			#{script 'mpower-geolocation.js' /}
			

    
</head>
