<html>
<head>
	
	#{script 'jquery.min.js' /}
	#{if play.mode == "DEV"}
		#{script 'jquery.fancybox-1.3.4.js' /}
		#{script 'jquery.easing-1.3.pack.js' /}
		*{#{script 'jquery.history.js' /}}*
		#{script src:'bootstrap.js' /}
		#{script src:'bootbox.js' /}
		<!-- Uniform -->
		#{script src:'jquery.uniform.js' /}
	#{/if}

	#{else}
	
		*{#{script 'jquery.fancybox-1.3.4.pack.js' /}
		#{script 'jquery.easing-1.3.pack.js' /}}*
		#{script src:'bootstrap.min.js' /} 
		*{#{script src:'bootbox.min.js' /}
		<!-- Uniform -->
		<!-- #{script src:'jquery.uniform.min.js' /} -->}*
	#{/else}


	#{stylesheet 'bootstrap.min.css' /}
	#{stylesheet 'bootstrap-responsive.min.css' /}
	#{stylesheet 'bootstrap-responsive.css' /}
	#{stylesheet 'bootstrap-datetimepicker.css' /}
	#{stylesheet 'bootstrap-datetimepicker.min.css' /}
	#{stylesheet 'clndr.css' /}
	#{stylesheet 'custom.css' /}
	#{stylesheet 'datepicker.css' /}
	#{stylesheet 'flexslider.css' /}
	#{stylesheet 'font-awesome.css'/}
	#{stylesheet 'font-awesome.min.css'/}
	#{stylesheet 'jqvmap.css'/}
	#{stylesheet 'lines.css'/}
	

	#{script 'bootstrap-datepicker.js' /}
	<!-- #{script 'jquery.uniform.min.js' /} -->
	#{script 'jquery.cokie.min.js' /}
	
	#{script 'metisMenu.min.js' /}
	#{script 'custom.js' /}   
	#{script 'bootstrap.min.js' /}
	#{script 'app.js' /}
	#{script 'index.js' /}
	#{script 'tasks.js' /}
	#{script 'form-components.js' /}
	#{script 'mpower-geolocation.js' /}
	#{script 'moment.js' /}
	#{script 'daterangepicker.js' /}
	
	<!-- my addition end -->
	#{stylesheet 'style-base.css' /}
	#{stylesheet 'style.css' /}
	#{stylesheet 'style-responsive.css' /}
	#{stylesheet 'default.css' /}
	<!-- #{stylesheet 'uniform.default.css' /} -->
	#{stylesheet 'daterangepicker.css' /}


	#{get 'moreScripts' /}
	*{#{script src:'main.js' /}}*
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	

</head>
<body >
	<nav class="top1 navbar navbar-default navbar-static-top"  style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/public/images/logo.png" alt="image"></a>
		</div>
		<!-- /.navbar-header -->
		<ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/resourcelist">RESOURCES</a>
            </li>
            <li>
                <a href="/submitCase">SUBMIT A CASE</a>
            </li>
            <li>
                <a href="/registerschool">REGISTER A SCHOOL</a>
            </li>
			<li class="dropdown">
				<a href="@{Secure.logout()}" class="dropdown-toggle avatar" data-toggle="dropdown"><span  style="color:#fff; padding-right:10px">${currentUser?.displayName}</span><img src="/public/images/1.png" alt="image"></a>
			</li>
		</ul>
		<!-- /.navbar-static-side -->
	</nav>
	<div class="page-container">
		#{include 'sidebar.html' /}
		<div class="page-content-wrapper">
			<div class="page-content">
				#{doLayout /}
			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			For support, please contact with &nbsp;&nbsp;
			<a href="mailto:myschoolvoice@gmail.com"> myschoolvoice@gmail.com</a>
		</div>
		<div class="pull-right">
			Powered by mPower Social
		</div>
<!-- <div class="footer-tools">
        <span class="go-top">
        <i class="fa fa-angle-up"></i>
        </span>
    </div> -->
</div>
<!-- END FOOTER -->
            <!-- <footer class="footer">
		      <div class="container">
		        <p>ICT & Innovative Partnership Project|  <a href="#" target="_blank"> Developer</a> </p>
		      </div>
		  </footer> -->
		  <!-- </div> -->

		  <!--/.fluid-container-->
  

</body>
</html>

