<div class="page-sidebar-wrapper">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="page-sidebar-menu">
                        <li class="sidebar-toggler-wrapper">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler">
                            </div>
                            <div class="clearfix">
                            </div>
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        </li>
                        #{deadbolt.externalizedRestriction externalRestrictions:['Dashboard']}
                        <li#{if 'Application.index' == request.action} class="start active"#{/if}>
                            <a href="@{Application.index()}">
                                <i class="fa fa-home"></i>
                                <span class="title">
                                    Dashboard
                                </span>
                                #{if 'Application.index' == request.action} 
                                <span class="selected"></span>
                                #{/if}
                            </a>
                        </li>
                        #{/deadbolt.externalizedRestriction}

                        #{deadbolt.externalizedRestriction externalRestrictions:['View Form', 'Edit Form','Water Form','Sanitation Form','School Environment Form','Sports And Recreation Form']}
                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-list-alt"></i>
                                <span class="title">
                                    Forms
                                </span>
                                <span class="arrow "></span>
                            </a>

                            <ul class="sub-menu">
                            	#{deadbolt.externalizedRestriction externalRestrictions:['Water Form']}
                                <li#{if 'Application' == request.controller && 'waterForm' == request.actionMethod} class="active"#{/if}>
                                    <a href="@{Application.waterForm()}">Water</a>
                                </li>
                                #{/deadbolt.externalizedRestriction}


                                #{deadbolt.externalizedRestriction externalRestrictions:['Sanitation Form']}
                                <li#{if 'Application' == request.controller && 'sanitationForm' == request.actionMethod} class="active"#{/if}>
                                    <a href="@{Application.sanitationForm()}">Sanitation</a>
                                </li>
                                #{/deadbolt.externalizedRestriction}


                                #{deadbolt.externalizedRestriction externalRestrictions:['School Environment Form']}
                                <li#{if 'Application' == request.controller && 'schoolEnvironment' == request.actionMethod} class="active"#{/if}>
                                    <a href="@{Application.schoolEnvironment()}">School Environment</a>
                                </li#{if 'Forms' == request.controller && 'create' != request.actionMethod} class="active"#{/if}>
                                #{/deadbolt.externalizedRestriction}


                                #{deadbolt.externalizedRestriction externalRestrictions:['Sports And Recreation Form']}
                                <li#{if 'Application' == request.controller && 'sportsRecreation' == request.actionMethod} class="active"#{/if}>
                                    <a href="@{Application.sportsRecreation()}">Sports & Recreation</a>
                                </li>
                                #{/deadbolt.externalizedRestriction}


                            </ul>
                        </li>
                        #{/deadbolt.externalizedRestriction}


						#{deadbolt.externalizedRestriction externalRestrictions:['Reports']}
                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="title">
                                    Reports
                                </span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="@{Reports.waterReport()}">Water</a>
                                </li>
                                <li>
                                    <a href="@{Reports.sanitationReport()}">Sanitation</a>
                                </li>
                                <li>
                                    <a href="@{Reports.schoolEnvironmentReport()}">School Environment</a>
                                </li>
                                <li>
                                    <a href="@{Reports.sportsAndRecreationReport()}">Sports & Recreation</a>
                                </li>
                                <li>
                                    <a href="@{Reports.overallReport()}">Overall Satisfaction</a>
                                </li>
                                <li>
                                    <a href="#">Submission Status</a>
                                </li>
                            </ul>
                        </li>
                        #{/deadbolt.externalizedRestriction}


                        #{deadbolt.externalizedRestriction externalRestrictions:['Data Management']}
                        <li class="">
                            <a href="@{DataManagement.viewDetails(currentUser?.id)}">
                                <i class="fa fa-th-large"></i>
                                <span class="title">
                                    Data Management
                                </span>
                            </a>
                        </li>
                        #{/deadbolt.externalizedRestriction}

                        #{deadbolt.externalizedRestriction externalRestrictions:['View School']}
                        <li class="">
                            <a href="@{Schools.schoolList("1")}">
                                <i class="fa fa-list"></i>
                                <span class="title">
                                    School List
                                </span>
                            </a>
                        </li>
                        #{/deadbolt.externalizedRestriction}

						#{deadbolt.externalizedRestriction externalRestrictions:['View Case']}
                        <li class="">
                            <a href="@{Reports.caseReport()}">
                                <i class="fa fa-keyboard-o"></i>
                                <span class="title">
                                    Case Reporting
                                </span>
                            </a>
                        </li>
						#{/deadbolt.externalizedRestriction}
						
                        <li class="">
                             <a href="@{ResourceManagement.resourceList()}">
                                <i class="fa fa-file-o"></i>
                                <span class="title">
                                    Resource Management
                                </span>
                            </a>
                        </li>

                        #{deadbolt.externalizedRestriction externalRestrictions:['View NGO', 'Edit NGO']}
                        <li class="">
                            <a href="@{Ngos.create()}">
                                <i class="fa fa-file-o"></i>
                                <span class="title">
                                    NGO Registration
                                </span>
                            </a>
                        </li>
                        #{/deadbolt.externalizedRestriction}

                         #{deadbolt.externalizedRestriction externalRestrictions:['View Poll', 'Edit Poll']}
                       
                            <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="title">
                                    Poll Management
                                </span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                             
                                <li>
                                    <a href="@{PollManagement.createPoll}">Create Poll</a>
                                </li>
                               
                                <li>
                                    <a href="@{PollManagement.listPoll}">Poll List</a>
                                </li>
                                
                            </ul>
                        </li>
                          #{/deadbolt.externalizedRestriction}

                        #{deadbolt.externalizedRestriction externalRestrictions:['View User', 'Edit User', 'View Role', 'Edit Role']}
                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-user"></i>
                                <span class="title">
                                    User Management
                                </span>
                                <span class="arrow "></span>
                            </a>                            
                            <ul class="sub-menu">
                                #{deadbolt.externalizedRestriction externalRestrictions:['View User']}
                                <li#{if 'Users.list' == request.action} class="active"#{/if}><a href="@{Users.list("1")}">
                                User Information</a></li>
                                #{/deadbolt.externalizedRestriction}

                                #{deadbolt.externalizedRestriction externalRestrictions:['Edit User']}
                                <li#{if 'Users.create' == request.action ||
                                'Users.details' == request.action ||
                                'Users.edit' == request.action} class="active"#{/if}><a href="@{Users.create()}"> Create User</a></li>
                                #{/deadbolt.externalizedRestriction}

                                #{deadbolt.externalizedRestriction externalRestrictions:['Edit User']}
                                #{deadbolt.externalizedRestriction externalRestrictions:['View Role']}
                                <li#{if 'Users.roleList' == request.action || 'Users.roleEdit' == request.action} class="active"#{/if}><a href="@{Users.roleList()}">View Role</a></li>
                                #{/deadbolt.externalizedRestriction}

                                #{deadbolt.externalizedRestriction externalRestrictions:['Edit Role']}
                                <li#{if 'Users.roleCreate' == request.action} class="active"#{/if}>
                                <a href="@{Users.roleCreate()}">
                                Create Role</a>
                                </li>
                                #{/deadbolt.externalizedRestriction}
                                #{/deadbolt.externalizedRestriction}
                            </ul>
                        </li>
                        #{/deadbolt.externalizedRestriction}

                        #{deadbolt.externalizedRestriction externalRestrictions:['Settings']}
                        <li class="">
                            <a href="@{Users.acl()}">
                                <i class="fa fa-key"></i>
                                <span class="title">
                                    Access Control
                                </span>
                            </a>
                        </li>
                        #{/deadbolt.externalizedRestriction}
                    </ul>

                    <ul class="page-sidebar-menu">
                        <li class="active ">
                            <a href="@@{Secure.logout()}">
                                <i class="fa fa-power-off"></i>
                                <span class="title">
                                    Logout
                                </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>&nbsp;</li>
                    </ul>
                   
                   <div id="replace">
                 
                   </div>
                    <div class="left-bottom-admin">
                        <div class="col-md-3">
                            <i class="fa fa-user-circle fa-3x"></i>
                        </div>
                        <div class="col-md-9">
                            <span>Admin 101</span>
                            <h4>Sadhli Roomy</h4>
                        </div>
                    </div>
                    <!-- END SIDEBAR MENU -->
                </div>
            </div>
        </div>
        
       <script>
       
       $(document).ready(function(){
       
      
        var pollId;
       
        
        $.ajax({
        
        type: "GET",
        url:  "/Reports/loadPoll",
        
        success: function(data) {
        
        var json = JSON.parse(data);
         var pollIdarray;
        //console.log(data);
        if(json!="not publish"){
        console.log(json);
	  	var startdiv =      ' <div class="col-md-12">'+
                        '<div class="landing-poll">'+
                            '<div class="poll-header">'+
                                'PARTICIPATE IN POLL'+ 
                            '</div>'+
                            '<div class="poll-body">'+
                               
                                    '<div class="form-body">'+
                                       ' <div class="form-group">'+
                                            '<label class="col-md-3 control-label"><strong>Age</strong></label>'+
                                            '<div class="col-md-9">'+
                                                '<div class="radio-list">'+
                                                
                                                    '<label>'+
                                                        '<input type="radio" class="ageClass" name="age" value="1"> Below 18'+
                                                    '</label>'+
                                                    '<label>'+
                                                        '<input type="radio" class="ageClass" name="age" value="2"> Above 18'+
                                                    '</label>'+
                                                '</div>'+
                                              '</div>'+
                                       '</div>'+
                                     '<div class="form-group" >'+
                                            '<label class="col-md-3 control-label"><strong>Gender</strong></label>'+
                                            '<div class="col-md-9">'+
                                               ' <div class="radio-list">'+
                                                    '<label>'+
                                                        '<input type="radio" class="genderClass" name="gender" value="1"> Male'+
                                                    '</label>'+
                                                    '<label>'+
                                                        '<input type="radio" class="genderClass" name="gender" value="2"> Female'+
                                                    '</label>'+
                                                    '<label>'+
                                                        '<input type="radio" class="genderClass" name="gender" value="3"> Other'+
                                                    '</label>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="form-group"  id="pollmanage">';

                    
                    
				var pollInfo = data.split(';');
		        var optionarray;
		         for (var i = 1; i < pollInfo.length; i = i + 6) {
                                var title = pollInfo[i];
                                var questionType = pollInfo[i+1];
                                var startDate = pollInfo[i+2];
                                var endDate = pollInfo[i+3];
                                var options = pollInfo[i+4]
                                var poll = pollInfo[i+5];
                               // var todayDate=pollInfo[i+6];
                                //console.log(todayDate);
                                
                                
                             
                                startdiv += ' <h4> ' + title + '</h4>'+
                                       ' </div> ' +
                                       '<div class="form-group">'+
                                            '<div class="radio-list">';
                                            
                                            
                                            
                                            
                       if(questionType=="Single Select"){
                                       
                                     var option = options.split(',');
                                      
                                      //console.log("option: "+ option.length);
                                       for( var j=1; j< option.length ; j++){
                                   startdiv+= '<input type="radio" class="answer" name="answerr" value=" ' + option[j] +'"> ' +option[j] + ' <br>'+
                                               ' <input name="pollId" type="hidden" class="form-control" id="pollIdd" value="' + poll +' ">';
                                               //console.log(option[j]);
 
                                      }
                                     
                                  
                                      }
                                      
                                      
                                      
                        else if(questionType=="Multiple Select"){
                                        var option = options.split(',');
                                //console.log("option: "+ option.length);
                               var option = options.split(',');
                               for( var j=1; j< option.length ; j++){
                                   startdiv+= '<input type="checkbox" class="answer" name="answerr" value=" ' + option[j] +'"> ' +option[j] + ' <br>'+
                                               ' <input name="pollId" type="hidden" class="form-control" id="pollIdd" value="' + poll +' ">';
 
                                      }
                                 
                               }
                               
                                  startdiv +=   '</div>'+
                                       ' </div>'+
                                      ' <div class="form-group">'+
                                            '<div class="col-md-5">'+
                                                '<button type="submit" id="submitBtn" class="btn btn-sm black-background">VOTE</button>'+
                                            '</div>'+
                                            '<div class="col-md-7">'+
                                               '<button type="button" id="previousBtn" class="btn btn-sm black-background">PREVIOUS</button>'+
                                            '</div>'+
                                        '</div>'+

                                        

                                        '<div class="form-group">'+
                                           ' <label class="col-md-offset-3 control-label">'+
                                                '<input type="hidden" class="btn btn-default btn-xs"></input>'+
                                                '<input type="hidden" class="btn btn-default btn-xs"></input>'+
                                                '<input type="hidden" class="btn btn-default btn-xs"></input>'+
                                                '<input type="hidden" class="btn btn-default btn-xs"></input>'+
                                            '</label>'+
                                        '</div>'+
                                    '</div>'+    
                                        '</div>'+
                                      '</div>'+
                               
                            '</div>'+
                        '</div>'+
                    '</div>';
                                    
                                    
                    
                    var polliiid =  $('#pollIdd').val();
	         
	             $("#submitBtn").on("click",function(){
	    
					  var gender =  $('.genderClass').val();
						
					  var age = $('.ageClass').val();
					  
					  var option=new Array();
					  
					  
					   $(".answer:checked").each(function(){
                                     option.push($(this).val());
					  });
					  
					  //console.log("checkedvalue: "+option);
					  
					  var pollId = $('#pollIdd').val();
					  
					
				
						savePollReply(gender,age,option , pollId);
	             });
                
                                            
                                           
             }  
             
             $("#replace").html("");
             $("#replace").html(startdiv);                            
                                            
        }
        
        }
        
        });
       });
       
       function savePollReply(gender,age,options,pollId) {
		
		var option = JSON.stringify(options);
		console.log(option);
		return $.ajax({
				type: "POST",
              	url:  "/Reports/voteReply",
				data : {
					gender : gender,
					age : age,
					option : option,
					pollId:pollId
				},
				
				success: function(data) {
				
				console.log("value saved");
				}
			});
		
		}
		
		
       </script>